<div class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Informações Básicas</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Nome </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> Instituição de Ensino </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> Instituição de Ensino </label>
          <input class="ui input"
                 name="school"
                 ng-model="user.profile.school">
        </div>

        <div class="field">
          <label>Data de Nascimento</label>
          <input type="date"
                 name="year"
                 ng-model="user.profile.age">
          </input>
        </div>

        <div class="field">
          <label>Identidade de gênero</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gênero</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
            <option value="N">Eu prefiro não responder.</option>
          </select>
        </div>

        <div class="field">
          <label>Eu me descreveria como...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              Website pessoal? Projetos? Algo legal pra vermos?
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
